@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');
@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px); /* Move element 50px to the left */
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* Move element back to its original position */
  }
}
.container {
  height: 100vh;
  width: 100%;
  background-image: url('/assets/Marsa-Maroc.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
}

.form-container {
  padding: 10px; /* Decrease padding */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background: linear-gradient(135deg, #8e9eab, #eef2f3);
  animation: slideInFromLeft 1s ease;
  width: 30%; /* Decrease width */
}

.form-group {
  margin-bottom: 0.5rem;
}
.dropdown-toggle {
  position: fixed;
  top: 12%;
  right: 0;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  border: black;
  cursor: pointer;
  border-radius: 20px;
}

.dropdown-toggle:hover {
  background-color: #0056b3;
}

.nomre-card{
  width: 70%;
  animation: slideInFromLeft 1s ease;
  background: linear-gradient(135deg, #8e9eab, #eef2f3);
  position: fixed;
  margin-bottom: 100px;
}
select,
input[type="text"],
input[type="number"] {
  display: block;
  width: 80%;
  padding: 0.3rem; /* Decrease padding */
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.9rem; /* Decrease font size */
  line-height: 1.3;
}
.btn-block{
  margin-left: 35%;
  border-radius: 15px;
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
}
.btn-block:hover{
  background-color: lightsteelblue;
}


.fas {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.fas:hover {
  background-color: #c82333;
}
