@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css');


/* Style pour le corps de la page */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f9fa;
}

/* Style pour les conteneurs principaux */
.container-main {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 30%;

}

/* Style pour le titre */
h2 {
  color: #333;
}

/* Style pour les formulaires */
.form-group {
  margin-bottom: 20px;
}

/* Style pour les champs de texte et les listes déroulantes */
.form-control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style pour les boutons */
.button-container {
  text-align: center;
}

.button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.button:hover {
  background-color: #0056b3;
}

/* Style pour les sections RH et RM */
.rh-container,
.rm-container {
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les mini-champs de texte */
.mini-text-fields {
  display: flex;
  gap: 10px;
}

.mini-field {
  flex: 1;
}

/* Style pour les listes déroulantes */
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.fa {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
}

.fa:hover {
  background-color: #c82333;
}
